<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <link href="{% static 'open-iconic-master/font/css/open-iconic.css' %}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark" style="z-index: 1;">
              <!-- Brand -->
              <a class="navbar-brand" href="#" style="font-family: 'Pacifico', cursive;">Chitra-Mela</a>
    
              <!-- Toggler/collapsibe Button -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
    
              <!-- Navbar links -->
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="#"><span class="oi" data-glyph="home" title="home" aria-hidden="true"></span> HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><span class="oi" data-glyph="people" title="people" aria-hidden="true"></span> SIGN UP</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><span class="oi" data-glyph="lock-unlocked" title="lock-unlocked" aria-hidden="true"></span> LOGIN</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><span class="oi" data-glyph="person" title="person" aria-hidden="true"></span> PROFILE</a>
                  </li>
                </ul>
              </div> 
            </nav>
        </div>
        {% block body %}

        {% endblock %}
    </body>
</html>